.header {
  background-color: #182234;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;

  font-size:13px ;
  text-align: left;

}

h1 {
  font-size: 1.5rem; /* Equivalente a text-2xl (24px) */
  font-weight: bold;
  background: linear-gradient(to right, #7DD3FC, #6EE7B7); /* Gradiente de from-primary-400 para to-accent-400 */
  -webkit-background-clip: text; /* Necessário para aplicar o gradiente no texto */
  background-clip: text; /* Para suporte em navegadores modernos */
  color: transparent; /* Tornar o texto transparente */
}
