.header {
  background-color: #182234;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;

  font-size:13px ;
  text-align: left;

}

h1 {
  font-size: 1.5rem; 
  font-weight: bold;
  background: linear-gradient(to right, #7DD3FC, #6EE7B7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
