/* Estilos para telas menores que 414px (celulares de 6.1 a 6.5 polegadas) */


.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.game-container {
  background-color: #2A2D34;
  display: flex;
  height: 150px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden; /* Impede que o título ultrapasse */

}

.game-image {
  display: block;
  width: 130px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.game-title {
  color: rgb(237, 235, 235);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-weight: bold;
}

.short-description {
  color: rgb(200, 200, 200);
  font-size: 14px;
  margin: 15px;
}

h1 {
  color: rgba(240, 248, 255, 0.877);
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
}
.year {
  color: #7DD4FA;
  font-weight: bolder;
  margin: 13px;
}
@media only screen and (max-width: 437px) {
  .game-container {
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    padding: 10px; /* Adiciona padding interno */
  }

  .game-image {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    border-radius: 5px; /* Aplica borda arredondada em todos os lados */
    margin-bottom: 10px; /* Adiciona margem inferior para separar a imagem do texto */
  }

  .game-title {
    font-size: 18px; 
    text-align: center;
  }

  .short-description {
    font-size: 12px;
    margin: 10px;
    text-align: center;
    width: 100%;
    word-wrap: break-word; /
  }
}
