<div class="details-container" *ngIf="!loading; else loadingTemplate">
  <h1>{{ gameDetails.title }}</h1>

  <div class="game-header">
    <div class="container-apiData">
      <div class="wrapper">
        <img [src]="gameDetails.imgUrl" alt="{{ gameDetails.title }}" class="game-image" />
        <div >
          <div class="info-box">
            <div class="game-full-description">
              <h3>Full Description</h3>
              <p>{{ gameDetails.longDescription}}</p>
            </div>
          </div>
      </div>
      </div>


        <div class="content">
      <div class="info-box">
        <strong>Year</strong>
        <p>{{ gameDetails.year }}</p>
      </div>
      <div class="info-box">
        <strong>Score</strong>
        <p>{{ gameDetails.score }}⭐</p>
      </div>
      <div class="info-box">
        <strong>Platforms</strong>
        <p>{{ gameDetails.platforms }}</p>
      </div>
      <div class="info-box">
        <strong>Genre</strong>
        <p>{{ gameDetails.genre }}</p>
      </div>
      </div>
        </div >
    </div>
  </div>
<ng-template #loadingTemplate>
  <div class="loading-container">
    <div class="loading-bar">
      <div class="progress-bar" [style.width.%]="progress"></div>
    </div>
    <p class="loading-text">Carregando... {{progress}}%</p>
  </div>
</ng-template>
