<h1>game-list works!</h1>

  <div *ngIf="games.length > 0; else loading" class="container">
    <!-- Criando uma div para cada jogo -->
    <div *ngFor="let game of games" class="game-container" >
      <img [src]="game.imgUrl" alt="{{ game.title }}" class="game-image">
      <div class="game-content">
        <div class="game-title">{{ game.title }}</div>
        <p class="short-description">{{game.shortDescription}}</p>
        <p class="year">{{game.year}}</p>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <p>Carregando...</p>
  </ng-template>

